

.mainHeader{
  width: 100%;
  height: 100px;
  background-color: rgb(100, 86, 133);
  padding: 0;
  margin: 0;
  display: flex;
  border-radius:50px;
  
}
body{
  background-color: rgb(31, 24, 37);
}
header{
  justify-content:space-between;
  align-items:center;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  
 }
 ul{
  list-style: none;
  display: flex;
  gap: 1.5cm;
  margin-left: 50px;
  margin-top: 30px;
  text-decoration: none;
 }
 li{
  text-decoration: none;
 }
 .heading{
  color: white;
  text-decoration: none;
 }
 .heading.active{
  color: grey ; 
 }
 .logo img{
  height: 80px;
  width: 80px;
  margin-left: 90px;
  margin-top:10px;
  border-radius: 40px;
 }
 .logoHeading{
  font-family: 'Pacifico', cursive;
  text-decoration:wavy ;
  color: rgb(241, 161, 228);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  margin-top: auto;
  margin-left:200px;

  text-align: center;
 }
 /* ///////// */
 .mainDiv{
  display: flex;
  
  flex-wrap: wrap;
 }
 .imgDiv img{
  height: 600px;
  width: 600px;
  margin-top: 70px;
  margin-left: 5px;
 }
.imgDiv{
  width: 40%;
}
.content{
  width: 60%;
}
 .content h1{
  font-size: 50px;
  margin-top: 150px;
  color: rgb(243, 235, 235);
  text-shadow: 2px 2px 4px rgba(7, 7, 7, 0.5);

 }
 .content p{
  font-size: 23px;
  color: rgb(209, 209, 209);

 }
 .content button{
  height: 50px;
  width: 150px;
  font-size:17px;
  color: rgb(240, 240, 240);
  font-family:sans-serif;
  border-radius: 30px;
  border: solid black 1px;
  background-color: rgb(130, 48, 133);
  margin-top: 10px;
  
 }
 .buttonPro{
  color:white;
  text-decoration: none;

 }
 
 .contactDiv{
  justify-content: center;
  align-items: center;
  margin-left: 500px;
  margin-top: 50px;
 }
 
 .form h3{
 color: rgb(243, 232, 232);
 font-size: 26px;
 margin-left: 5px;
 margin-bottom: 10px;
 margin-top: 20px;
 }
 .form input{
  margin-top: 0;
  height: 50px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px white;
  background-color: rgb(206, 206, 206);
  
 }
 .form input:nth-child(8){
  height: 200px;
 }
 ::placeholder{
  text-align: start;
  margin:0;
 }
 .form button{
  height: 40px;
  width: 120px;
  font-size:15px;
  color: rgb(240, 240, 240);
  font-family:sans-serif;
  border-radius: 30px;
  border: solid black 1px;
  background-color: rgb(105, 79, 165);
  margin-left: 5px;
  
 }
 .form img{
  height: 40px;
  width: 40px;
  gap: 1cm;
  margin-left: 10px;
 }
 .form p{
  color: rgb(224, 214, 214);
  font-family: sans-serif;
 }



 .footerDiv{
  height: 600px;
  width: 100%;
  background-color: rgb(43, 40, 40);
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.mainHead{
  text-align: center;
  margin-top: 30px;
 color: rgb(235, 198, 218);
  width: 100%;
  height: 50px;
 } 
  .section{
  color: rgb(223, 223, 223);
  margin-top: 100px;
    font-size: 20px;
  width: 40%;

 }
 .section p{
  margin-left: 90px;
  display: inline-flex;
  gap: 0.3cm;
  color: white;
 }
 .section h4{
  margin-left: 90px;
 }
 .section2{
  color: rgb(223, 223, 223);
  width: 30%;
  margin-top: 100px;
    font-size: 20px;
 }
 .section2 p{
  font-size:15px;
  margin-bottom: 10px;
 }
 .section2 img{
  height: 40px;
  width: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
 }
 .lastText{
  color: rgb(218, 218, 218);
  font-size: 20px;
  text-align: center;
  margin-left: 650px;
  margin-top: 100px;
  
 }

 .projectDiv{
  display: flex;
  justify-content: center;
  padding: 30px;
  justify-content: center;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
 }
 .myPro{
  font-size:30px;
  color: white;
  text-shadow: 2px 2px 4px rgb(192, 42, 142);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-left: 530px;
  margin-top: 10px;
  
 }
 .title{
   margin-left:550px;
  color: white;
  height:540px;
  width:400px;
  border-radius:30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(101, 76, 124);
  margin-top: 50px;
 }
 .title:hover{
   box-shadow: 4px 4px 6px rgb(179, 179, 179);
    border: solid black 1px;
 }
 .title img{
  height: 200px;
  width: 200px;
  margin-top: 20px;
  margin-left:100px;
 }
 .title h1{
  margin-top: 10px;
  font-size: 20px;
  margin-left: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 4px black;
 }
 .title p{
  margin-left: 40px;
  color: rgb(231, 231, 231);
  margin-right:16px;
 }


 .aboutDiv{
  display: flex;
  flex-wrap: wrap;
  
 }
 .education{
  width: 50%;
  color: white;
  font-size: 20px;
 }
 .education h1{
 
  font-size: 50px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgb(192, 42, 142);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 700px;
  margin-top: 30px;
 }
 .education h3{
  font-size: 30px;
  font-weight:300;
  font-family: sans-serif;
  margin-top: 160px;
  margin-bottom:20px;
  margin-left:50px;
 }
 .education p{
  margin-left:50px;
  font-family: 'Pacifico', cursive;
  color: rgb(228, 228, 228);
 }
 
 .aboutImg img{
  margin-left: 150px;
  border-radius: 400px;
  margin-top: 180px;
  height: 500px;
  width: 500px;
 }
  
 .project{
 margin-top: 110px;
  width:50%;
 }
 
 .proImg{
  width: 50%;
 }
 .proImg img{
  border-radius: 400px;
  height: 500px;
  width: 500px;
  margin-left:50px;
  margin-top: 50px;
 }
 .project h3{
  font-size: 30px;
  font-weight:300;
  font-family: sans-serif;
  color:white;
 }
 .project p{
  font-size: 20px;
  margin-top:20px;
  font-family: 'Pacifico', cursive;
  color: rgb(223, 223, 223);
  margin-right: 20px;
 }
 .project button{
  border: solid black 1px;
  border-radius: 20px;
  background-color: rgb(130, 48, 133);
  height: 50px;
  width: 200px;
  margin-top:20px;
  font-size:20px;
 }
 .githubDiv{
  width: 50%;
 margin-top: 150px;
 }
 .githubDiv h3{
  font-size: 30px;
  font-weight:300;
  font-family: sans-serif;
  color:white;
  margin-left: 50px;
  
 }
 .githubDiv p{
  font-size: 20px;
  margin-top:20px;
  font-family: 'Pacifico', cursive;
  color: rgb(223, 223, 223);
  margin-left: 50px;

 }
 .githubDiv button{
  border: solid black 1px;
  border-radius: 20px;
  background-color: rgb(130, 48, 133);
  height: 50px;
  width: 200px;
  margin-left: 50px;
  margin-top:20px;
 
  font-size:17px;
 }
 .githubImg{
  width: 50%;
    margin-top: 50px;
 }
 .githubImg img{
  border-radius: 400px;
  height: 500px;
  width: 500px;
  margin-left:150px;

 }

 .quote{
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-top: 70px;
  margin-left: 200px;
  margin-right: 200px;
  color: antiquewhite;
  text-shadow: 2px 2px 2px rgb(114, 114, 114);
  
 }
 .resume{
  margin-top:200px;
  margin-left:20px;
  color:rgb(204, 204, 204);
  width:100%;
  font-size:20px;
  display: flex;
 }
 .resumeH{
  width: 50%;
 }
 .resume h1{
  font-size: 40px;
  text-decoration: underline;
  color: white;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
 }
 .resumeImg{
  width: 50%;
 }
 .resumeImg img{
  margin-top:100px;
  border-radius: 40px;
  margin-left: 160px;
  box-shadow: 2px 2px 4px grey;
 }
 .resume button{
  border: solid black 1px;
  border-radius: 20px;
  background-color: rgb(130, 48, 133);
  height: 50px;
  width: 200px;
  margin-bottom:100px;
 }

 @media (max-width: 580px){
  .mainHeader{
    max-width: 100vw;
    height: 60px;
    display: flex;
    border-radius:50px;
    
  }
  body{
    background-color: rgb(31, 24, 37);
  }
  header{
    justify-content:space-between;
    align-items:center;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    
   }
   ul{
    list-style: none;
    display: flex;
    gap: 0.5cm;
    margin-left: 2px;
    margin-top: 20px;
  
   }
   
   .logo img{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top:8px;
    border-radius: 40px;
   }
   .logoHeading{
    font-family: 'Pacifico', cursive;
    text-decoration:wavy ;
    color: rgb(241, 161, 228);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    font-size: 10px;
    margin-top: auto;
    margin-left:50px;
    text-align: center;
   }
   /* ///////// */
   .mainDiv{
    display: flex;
    
    flex-wrap: wrap;
   }
   .imgDiv img{
    height: 200px;
    width: 200px;
    margin-top: 30px;
   
   }
  .imgDiv{
    width: 40%;
  }
  .content{
    width: 60%;
  }
   .content h1{
    font-size: 20px;
    margin-top: 50px;
    color: rgb(243, 235, 235);
    text-shadow: 2px 2px 4px rgba(7, 7, 7, 0.5);
  
   }
   .content p{
    font-size: 10px;
    color: rgb(209, 209, 209);
  
   }
   .content button{
    height: 20px;
    width: 80px;
    font-size:8px;
    color: rgb(240, 240, 240);
    font-family:sans-serif;
    border-radius: 30px;
    border: solid black 1px;
    background-color: rgb(130, 48, 133);
    margin-top: 5px;
    
   }
   
   .contactDiv{
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 50px;
   }
   
   .form h3{
   color: rgb(243, 232, 232);
   font-size: 20px;
   margin-left: 5px;
   margin-bottom: 10px;
   margin-top: 20px;
   }
   .form input{
    margin-top: 0;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px white;
    background-color: rgb(206, 206, 206);
    
   }
   .form input:nth-child(8){
    height: 200px;
   }
   ::placeholder{
    text-align: start;
    margin:0;
   }
   .form button{
    height: 40px;
    width: 120px;
    font-size:15px;
    color: rgb(240, 240, 240);
    font-family:sans-serif;
    border-radius: 30px;
    border: solid black 1px;
    background-color: rgb(105, 79, 165);
    margin-left: 5px;
    
   }
   .form img{
    height: 40px;
    width: 40px;
    gap: 1cm;
    margin-left: 10px;
   }
   .form p{
    color: rgb(224, 214, 214);
    font-family: sans-serif;
   }
  
  
  
   .footerDiv{
    height: 300px;
    width: 100%;
    background-color: rgb(43, 40, 40);
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .mainHead{
    text-align: center;
    margin-top: 20px;
   color: rgb(235, 198, 218);
    width: 100%;
    height: 40px;
   } 
    .section{
    color: rgb(223, 223, 223);
    margin-top: 50px;
    font-size: 10px;
    width: 40%;
  
   }
   .section p{
    margin-left: 30px;
    display: inline-flex;
    gap: 0.3cm;
    color: white;
   }
   .section h4{
    margin-left: 30px;
   }
   .section2{
    color: rgb(223, 223, 223);
    width: 30%;
    margin-top: 50px;
      font-size: 10px;
   }
   .section2 p{
    font-size:10px;
    margin-bottom: 5px;
   }
   .section2 img{
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
   }
   .lastText{
    color: rgb(218, 218, 218);
    font-size: 15px;
    text-align: center;
    margin-left: 160px;
    margin-top: 20px;
    
   }
  
   .projectDiv{
    display: flex;
    /* justify-content: center; */
    padding: 30px;
    
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
   }
   .myPro{
    font-size:10px;
    color: white;
    text-shadow: 2px 2px 4px rgb(192, 42, 142);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 200px;
    margin-top: 5px;
    
   }
   .title{
    justify-content: center;
    color: white;
    margin-left: 150px;
    height:350px;
    width:300px;
    border-radius:30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(101, 76, 124);
    margin-top: 10px;
   }
   .title:hover{
     box-shadow: 4px 4px 6px rgb(179, 179, 179);
      border: solid black 1px;
   }
   .title img{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left:100px;
   }
   .title h1{
    margin-top: 10px;
    font-size: 25px;
    margin-left: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px black;
   }
   .title p{
    margin-left: 40px;
    color: rgb(231, 231, 231);
    margin-right:16px;
    font-size: 13px;
   }
  
  
   .aboutDiv{
    display: flex;
    flex-wrap: wrap;
    
   }
   .education{
    width: 50%;
    color: white;
    font-size: 20px;
   }
   .education h1{
   
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgb(192, 42, 142);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
    margin-top: 10px;
   }
   .education h3{
    font-size: 20px;
    font-weight:300;
    font-family: sans-serif;
    margin-top: 100px;
    margin-bottom:10px;
    margin-left:20px;
   }
   .education p{
    margin-left:20px;
    font-family: 'Pacifico', cursive;
    color: rgb(228, 228, 228);
    font-size: 10px;
   }
   .aboutImg{
    width: 50%;
   }
   .aboutImg img{
    margin-left: 50px;
    border-radius: 400px;
    margin-top: 160px;
    height: 200px;
    width: 200px;
   }
    
   .project{
   margin-top: 70px;
    width:50%;
   }
   
   .proImg{
    width: 50%;
   }
   .proImg img{
    border-radius: 400px;
    height: 200px;
    width: 200px;
    margin-left:20px;
    margin-top: 150px;
   }
   .project h3{
    font-size: 20px;
    font-weight:300;
    font-family: sans-serif;
    color:white;
   }
   .project p{
    font-size: 10px;
    margin-top:20px;
    font-family: 'Pacifico', cursive;
    color: rgb(223, 223, 223);
    margin-right: 20px;
   }
   .project button{
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgb(130, 48, 133);
    height: 30px;
    width: 100px;
    margin-top:5px;
    font-size:10px;
   }
   .githubDiv{
    width: 50%;
   margin-top: 70px;
   }
   .githubDiv h3{
    font-size: 20px;
    font-weight:300;
    font-family: sans-serif;
    color:white;
    margin-left: 20px;
    
   }
   .githubDiv p{
    font-size: 10px;
    margin-top:20px;
    font-family: 'Pacifico', cursive;
    color: rgb(223, 223, 223);
    margin-left: 20px;
  
   }
   .githubDiv button{
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgb(130, 48, 133);
    height: 30px;
    width: 100px;
    margin-left: 20px;
    margin-top:5px;
    font-size:8px;
    color: white;
   }
   .githubImg{
    width: 50%;
      margin-top: 80px;
   }
   .githubImg img{
    border-radius: 400px;
    height: 200px;
    width: 200px;
    margin-left:60px;
  
   }
  
   .quote{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 0px;
    color: antiquewhite;
    text-shadow: 2px 2px 2px rgb(114, 114, 114);
    
   }
   .resume{
    margin-top:80px;
    margin-left:20px;
    color:rgb(204, 204, 204);
    width:100%;
    display: flex;
   }
   .resumeH{
    width: 50%;
   }
   .resumeH p{
    font-size: 10px;
   }
   .resumeH h1{
    font-size: 20px;
    text-decoration: underline;
    color: white;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
   }
   .resumeImg{
    width: 50%;
   }
   .resumeImg img{
    margin-top:50px;
    height: 300px;
    width: 200px;
    border-radius: 40px;
    margin-left: 50px;
    box-shadow: 2px 2px 4px grey;
   }
   .resume button{
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgb(130, 48, 133);
    height: 30px;
    width: 100px;
    margin-bottom:60px;
   }
 }