
@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
=======
>>>>>>> e6f61071c037a7cb80ca902e740970cf8b28a1c4

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body{
  background-color: rgb(31, 24, 37);
}
<<<<<<< HEAD
header{
  justify-content:space-between;
  align-items:center;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  
 }
 ul{
  list-style: none;
  display: flex;
  gap: 1.5cm;
  margin-left: 50px;
  margin-top: 30px;
  text-decoration: none;
 }
 li{
  text-decoration: none;
 }
 .heading{
  color: white;
  text-decoration: none;
 }

 .logo img{
  height: 80px;
  width: 80px;
  margin-left: 90px;
  margin-top:10px;
  border-radius: 40px;
 }
 .logoHeading{
  font-family: 'Pacifico', cursive;
  text-decoration:wavy ;
  color: rgb(241, 161, 228);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  margin-top: auto;
  margin-left:200px;
=======
>>>>>>> e6f61071c037a7cb80ca902e740970cf8b28a1c4

 .title:hover{
   box-shadow: 4px 4px 6px rgb(179, 179, 179);
    border: solid black 1px;
 }

 .title h1{
  text-shadow: 2px 2px 4px black;
 }

 
 .aboutImg img{
  border-radius: 400px;
 }

 .proImg img{
  border-radius: 400px;
 }
 
 .githubImg img{
  border-radius: 400px;

 }


 